/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
	background-color: #FFFEF8;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
a {
	text-decoration: none;
	color: black;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

button, a, i {
	cursor: pointer;
}

/* editionMode */
.editionMode{
	display: none;
	justify-content: center;
	width: 100%;

	gap: 20px;
	padding-top: 10px;

	background-color: black;
}
.editionMode i, .editionMode a{
	color: white;
}
.editionMode button{
	margin-bottom: 10px;
	border-radius: 60px;
	padding: 8px 20px 8px 20px;

	background: #FFFFFF;
}
/* navSection */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/* login */
.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: center;
	margin-top: 25vh;
}
.login a {
	color: black;
}
.login h1{
	color: #1D6154;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 50px;
}
#loginForm{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
#loginForm span{
	display: none;
	color: red;
	margin-bottom: 20px;
	justify-content: center;
}
#loginForm input[type="text"]{
	height: 50px;
	width: 330px;
	margin-bottom: 20px;

	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-color: transparent;

	font-size: 22px;
}
#loginForm input[type="submit"]{
	height: 35px;
	width: 180px;
	margin-top: 10px;

	border-color: #1D6154;
	border: 0px;

	font-size: 14px;
	cursor: pointer;
}
/* introduction */
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 90%;
	object-fit: cover;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
	margin-top: 20px;
}

#introduction p {
	margin-bottom: 0.5em;
}
/* portfolio */
.portfolioTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.portfolioTitle h2 {
	margin: 0px 30px 1em 45px;
}
/* edit buttons */
.editButton {
	display: none;
	cursor: pointer;
}
.editButton a {
	display: flex;
	
	flex-direction: row;
	height: 14px;
	align-items: center;

	margin-top: 10px;

}
.editButton i {
	size: 14px;
	margin-right: 8px;

}
#projectEditButton{
	right: 360px;
}
#figureEditButton{
	top: 530px;
}
#articleEditButton{
	top: 215px;
}
/* modal */
.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.projectModal {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 1020px;
	top: 25vh;

	width: 630px;
	height: 740px;
	
	background-color: #FFFFFF;
	border-radius: 10px;
}
#modalClose {
	position: absolute;
	right: 40px;
	top: 20px;
	font-size: x-large;
}
#previousPage {
	position: absolute;
	left: 40px;
	top: 20px;
	font-size: x-large;
}
.titleModal{
	align-items: center;
	padding-top: 70px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	
	color: black;
}
.modalButtons::before{
	content: '';
	box-sizing: border-box;
	width: 480px;
	height: 2px;

	margin-top: 20px;
	margin-bottom: 30px;

	background-color: #B3B3B3;
	
	border: 1px solid;
	border-color: transparent;
}
/* modal page 1 */
.modalPage1{
	display: none;
}
.photoGallery{
	box-sizing: border-box;
	display: flex;
	justify-content:flex-start;
	gap: 13px;
	padding: 13px;

	height: 440px;
	width: 478px;

	background-color: #FFFFFF;
	display: grid;
  	grid-template-columns: 80px 80px 80px 80px 80px;
	grid-template-rows: 120px 120px 120px;
}
.photoGallery figure{
	height: 120px;
}
.figurePhoto img{
	display: flex;
	height: 100px;
	width: 80px;
	margin-bottom: 5px;
}
.modalFigure .fa-solid{
	border: 1px solid black;
	border-radius: 2px;
	background-color: black;
	color: #FFFFFF;
	padding: 3px;
}
.photoIcons {
	position: relative;
	top: 25px;
	left: 33px;
}
.photoIcons .fa-trash-can{
	cursor: pointer;
}
.photoIcons .fa-arrows{
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	position: relative;
	right: 5px;
	cursor: pointer;
}
.photoIcons .fa-arrows:hover{
	color: #FFFFFF;
	background-color: black;
	border-color: black;
}
.modalButtonsPage1 button{
	justify-content: center;
	width: 240px;
	padding: 10px 40px 10px 40px;

	color: #FFFFFF;
	
	background-color: #1D6154;
	
	border-color: #1D6154;
	border-radius: 60px;

	font-family: 'Syne';
	font-size: 14px;
	font-style: normal;

	cursor: pointer;
}
.modalButtonsPage1 p{
	width: 151px;
	margin-top: 20px;
	color: red;
	
	font-weight: 400;

	font-family: 'Syne';
	font-size: 14px;
	font-style: normal;

	cursor: pointer;
}
.modalButtonsPage1{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 480px;
	height: 147px;

	position: absolute;
	left: 75px;
	bottom: 50px;
}
/* modal page 2 */
.modalPage2{
	display: none;
}
#preview{
	width: 129px;
	height: 193px;
	object-fit: cover;
	position: relative;
	top: 1px;
}
#visibleOnchange{
	display: none;
}
#fileReset{
	position: absolute;
	right: 115px;
	top: 130px;
	font-size: x-large;
	cursor: pointer;
	color: black;
}
.addPictureSquare{
	box-sizing: border-box;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 30px;
    width: 420px;
	height: 193px;

    background-color: #E8F1F6;

	border: 1px solid #E8F1F6;
	border-radius: 3px;
}
.addPictureSquare i{
	color: #B9C5CC;
	margin-bottom: 30px;
	
}
.addPictureSquare p{
	font-size: 10px;
	margin-top: 10px;
}
.addPictureSquare i, .addPictureSquare p{
	display: flex;
	justify-content: center;
}
#addPictureLabel{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 173px;
	height: 36px;

	z-index: 2;
	cursor: pointer;

	border-radius: 50px;

	background: #CBD6DC;
	border-color: #CBD6DC;
	border-radius: 50px;

	color: #306685;
	font-family: 'Work Sans';
    font-size: 14px;
	font-weight: 600;
}
.labelModalPage2{
	box-sizing: border-box;
    display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.labelModalPage2 label{
	justify-content: flex-start;
}
.labelModalPage2 input, select{
	height: 50px;
	margin-bottom: 20px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: transparent;	
}
.modalButtonsPage2{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 480px;
	height: 147px;

	position: absolute;
	left: 75px;
	bottom: 20px;
}
#submitWorkButton{
	justify-content: center;
	width: 240px;
	padding: 10px 40px 10px 40px;

	color: #FFFFFF;
	
	background-color: #A7A7A7;
	
	border-color: #A7A7A7;
	border-radius: 60px;

	font-family: 'Syne';
	font-size: 14px;
	font-style: normal;

	cursor: pointer;
}
.error {
	display: flex;
	justify-content: center;
	font-size: 14px;
	color: red;
	
}
/* gallery */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	margin-bottom: 8px;

}
/* contact */
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
/* sort buttons */
.sortButtons {
	display: flex;
	justify-content: center;
	gap: 20px;

	margin: 30px 0px 60px 0px;
}

.sortButton {
	padding: 6px 20px 6px 20px;
	gap: 20px;
	background: #FFFEF8;

	border: 1px solid #1D6154;
	border-radius: 60px;

	font-family: 'Syne';
	font-size: 17px;
	color: #1D6154;
	font-weight: 550;
}

.selectedButton {
	background-color: #1D6154;
	color: white;
}
/* footer */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}
.footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#footer{
	margin-top: 36.5vh;
}

